USE [TeamA_Project];
GO

-- 暫時移除外鍵
ALTER TABLE [dbo].[UsedBookSaleTags]
DROP CONSTRAINT [FK__UsedBookS__TagId__3429BB53];
GO

-- 清空 BookSaleTags
TRUNCATE TABLE [dbo].[BookSaleTags]
GO

-- 復原外鍵
ALTER TABLE [dbo].[UsedBookSaleTags]
ADD CONSTRAINT FK_UsedBookS_TagId
FOREIGN KEY (TagId) REFERENCES [dbo].[BookSaleTags](Id)
ON DELETE CASCADE;
GO